<!DOCTYPE html>
<html>
<head>
  <title>EmberPreload</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%- if @preloaded.present? %>
  <script>
    <%- @preloaded.each do |key, json| %>
      PreloadStore.store("<%= key %>",<%= escape_unicode(json) %>);
    <% end %>
  </script>
<%- end %>
</body>
</html>
